@import url(https://fonts.googleapis.com/css?family=Kaushan+Script);

body {
  background: lighten(#4c1b05, 10%);
  width: 100vw;
  height: 100vh;
}

.body-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ritual-wrapper {
  background: #f76157;
  color: #4c1b05;
  border-radius: 3px;
  font-family: "Kaushan Script", serif;
  font-weight: bolder;
  font-size: 20px;
  line-height: 34px;
  padding: 2vh 2vw;
  width: 40vw;
  box-shadow: 0 0 4px rgba(0, 0, 0, .4);

  .lead {
    font-size: 26px;
    font-weight: bolder;
    cursor: pointer;
  }
}

.intro-title {
  // color:
}

.intro-content {
}

$cell-size: 20px;
$cell-number: 5;

.ritual-cell {
  width: $cell-size;
  height: $cell-size;
}

.ritual-row {
  display: flex;
  width: $cell-size * $cell-number;
  height: $cell-size;
}

.ritual-grid {
  background-size: $cell-size*$cell-number auto;
  width: $cell-size * $cell-number;
  height: $cell-size * $cell-number;
}

.ritual-holder {
  border-radius: 10px;
}
