extends layout

block content
  h1 #{title}

  .body-wrapper
    .ritual-wrapper
      .ritual-intro
        .intro-title Hey there!
        .intro-content
          p This is Gems. It is a legendary board game forged in the deep fire of Panor, a village outside the Ama. Ama is a planet in one of the outer solar systems of the Andromeda galaxy.
          p Once upon a time, in the west part of Ikiol, the people of Panor visited Loias, a color magician who was working on Project Biriribi. This was an attempt to change the color of any item by pouring a colorful potion over it.
          p Panor people were interested in this because they wanted to paint their houses, but they were infamous procrastinators so when they heard about the magic potion they didn't miss the chance to get it.
          p Loias hadn't finish the portion yet, so he offered them this deal: Help with the potion production and split it in half with them.
          p Panorers accepted! Help them produce the potion!
          p.lead.js-play Play Now!7
  .cards
  button(id="contribute") Contribute
  button(id="drawcard") Draw Card
  button(id="combine") Combine
  input(type="text" id="contribute-order")
  input(type="text" id="contribute-color")
  button(id="begin") Begin
  input(type="text" id="combine-color-1")
  input(type="text" id="combine-color-2")
  .grid
