extends layout

block content
  h1 #{title}
  button(id="contribute") Contribute
  button(id="drawcard") Draw Card
  button(id="combine") Combine
  input(type="text" id="contribute-order")
  input(type="text" id="contribute-color")
  input(type="text" id="combine-color-1")
  input(type="text" id="combine-color-2")
  .body-wrapper
    .ritual-wrapper
      .ritual-intro



