extends layout

block content
  .body-wrapper
    .ggj
    .ritual-wrapper(style="display: none;")
      .ritual-intro
        .intro-title Hey there!
        .intro-content
          p This is Gems. It is a legendary board game forged in the deep fire of Panor, a village outside the Ama. Ama is a planet in one of the outer solar systems of the Andromeda galaxy.
          p Once upon a time, in the west part of Ikiol, the people of Panor visited Loias, a color magician who was working on Project Biriribi. This was an attempt to change the color of any item by pouring a colorful potion over it.
          p Panor people were interested in this because they wanted to paint their houses, but they were infamous procrastinators so when they heard about the magic potion they didn't miss the chance to get it.
          p Loias hadn't finish the portion yet, so he offered them this deal: Help with the potion production and split it in half with them.
          p Panorers accepted! Help them produce the potion!
          p#play.lead Play Now!7
      .ritual-content(style="display: none;")
        .ritual-grids
        .row.form-group
          .col-md-4.col-md-offset-2
            label Contribute Order
          .col-md-4
            input(type="text" id="contribute-order")
        .row.form-group
          .col-md-4.col-md-offset-2
            label Contribute Color
          .col-md-4
            input(type="text" id="contribute-color")
        .row.form-group
          .col-md-4.col-md-offset-2
            label Combine Color 1
          .col-md-4
            input(type="text" id="combine-color-1")
        .row.form-group
          .col-md-4.col-md-offset-2
            label Combine Color 2
          .col-md-4
            input(type="text" id="combine-color-2")
        .control-wrapper
          button(id="contribute") Contribute
          button(id="drawcard") Draw Card
          button(id="combine") Combine
          button(id="begin") Begin
        .cards-wrapper
          .cards
