doctype html
html
  head
    title= title
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
    //- link(rel="stylesheet", href="https://raw.githubusercontent.com/necolas/normalize.css/master/normalize.css")
    link(rel='stylesheet', href='/style.css')
  body
    block content
  footer
    script(src="https://code.jquery.com/jquery-2.2.0.min.js")
    script(src="/socket.io/socket.io.js")
    script(src="/app.js")
